<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="training20.tcmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationCMM"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
<!--        <activity android:name=".activities.HairdresserMainActivity" />-->
        <activity android:name=".activities.HairdresserRegistrationFormActivity" />
        <activity android:name=".activities.HairdresserSalonReservationCalendarDayActivity" />
        <activity android:name=".activities.ModelMainActivity" />
        <activity android:name=".activities.ModelRegistrationFormActivity" />
        <activity android:name=".activities.RoleSelectionActivity" />
<!--        <activity android:name=".activities.ModelMainActivity">-->
        <activity android:name=".activities.HairdresserMainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>